<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <h1>Quotes</h1>
    <% for(const quote of quotes){ %>
    <a href="/quotes/<%= quote._id %>">
    <p><em><%= quote.quote %></em> - <%= quote.author %></p> 
    </a>
    <% } %>

    <a href="/quotes/new">Add a new quote</a>
</body>
</html>